* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    color: #fff;
}

.fondo-registro{
    background-image: url('../../images/f_b_pichinch.jpg');
    background-position: center;
    background-size: cover;
}