.tabl {
  width: 100%;
  height: max-content;
  padding: 2rem;
}
.btn1 {
  display: flex;
  border-radius: 35px;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}
.drop {
  margin-top: 2rem;
  margin-left: 2rem;
}
