.navbarM {
  background-color: #1b2d54;
}
.botones {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.colorboton {
  color: #ffc107 !important;
  border-radius: 3px;
  text-transform: uppercase;
  border: 2px solid #ffc107;
  margin-right: 2rem;
  background-color: #ffc107;
}
